/* home.html Start */

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: powderblue;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 60px;
  text-decoration:none;

}

li a:hover {
  background-color: red ;
}

.lis {
	color:black;
	font-weight: bold;
	font-size:20px

}
/* home.html End */

#conc{
	background-color: yellow;
}