{% load static %}
<!DOCTYPE html>
<head>
<title>contact</title>
<link rel="stylesheet" type="text/css" href="{% static 'sample.css' %}">
<body bgcolor="gray">
  
<div>
  <div align="center">
    <h1 id='conc'>CONTACT US </h1>
    <h3>Fill out the form to contact us!</h3>
  </div>
  
  <div align="center">
    
  <form>
        
        <div>
          <p class="left">
            <label for="first_name">First name</label>
            <input type="text" name="first_name" placeholder="John" required/>
          </p>
          <p class="pull-right">
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" placeholder="Smith" required/>      
          </p>
        </div>
        
        <div>
          <p>
            <label for="email">Email ID<span class="req">*</span></label>
            <input type="email" name="email" placeholder="john.smith@gmail.com" required/>
          </p>
        </div>    

        <div>
      
          <label for="comments">comments</label><br><br>
          <textarea cols="46" rows="3" name="comments"></textarea>
     </div>
        
        <div>
        <br>
          <input class="btn" type="submit" value="Submit" />
          <small>or press <strong>enter</strong></small>
        </div>
        
      </div>
  
  </form>
  </div>
</div>
  
</body>
</html>
