
{% extends 'base.html' %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<html>
<head>
<style>
.name { background-color:yellow;
padding: 15px 10px;

 }
</style>


<title>
Web Page
</title>
</head>
</body>
<h3 class="name">Hello World!</h3>
<h1>I am <p id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">{{dam.name}}<br> </h1>

<a href="https://www.hyundai.com/in/en" target="_blank" >
<img src="{% static 'hyundai.jpg' %}" width="250" height="170">
</a>

<a href="https://www.mercedes-benz.com/en/" target="_blank" >
<img src="{% static 'benz.jpeg' %}" width="250" height="170">
</a><br>


<a href="https://www.tesla.com/" target="_blank" >
<img src="{% static 'tesla.jpg' %}" width="250" height="170">
</a>

<a href="https://www.bmw.in/en/index.html" target="_blank">
<img src="{% static 'bmw.jpg' %}" width="250" height="170">
</a><br>
<br>



<form action="add" method="post">

{% csrf_token %}
	Enter First number : <input type="text" name="num1"><br><br>
	Enter First number : <input type="text" name="num2"><br><br>
	<input type="submit">


<script>
function mouseOver() {
  document.getElementById("demo").style.color = "red";
}
function mouseOut() {
  document.getElementById("demo").style.color = "black";
}
</script>
<div>
<a href="new" target="_blank"> youtube</a>
</div>


<!--
new sample page for testing

<form action="sam">
	<input type="submit"><br>
-->

{% endblock %}