{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="{% static 'sample.css' %}">

<style>
.name { background-color:yellow;
padding: 15px 10px;
}
 .img-container {
    text-align: center;
    display: block;
 }
</style>


<title>
Web Page
</title>
</head>
</body>

<ul>
  <li><img src="{% static 'car.png' %}" width="150" height="150"></img></li>
  <li><a href="#home" class="lis">Home</a></li>
  <li><a href="n_car" class="lis" target="_blank">New Cars</a></li>
  <li><a href="service" class="lis" target="_blank">Services</a></li>
  <li><a href="account" class="lis" target="_blank">Account</a></li>
  <li><a href="contact" class="lis" target="_blank">Contact</a></li>
</ul>


<h3 class="name" align="center"">Page end</h3>
<h1 align="center">I am <p id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">{{dam.name}}<br> </h1>

<span  class="img-container">
<a href="https://www.hyundai.com/in/en" target="_blank" >
<img src="{% static 'hyundai.jpg' %}" width="500" height="250" >
</a></span><br>

<span  class="img-container">
<a href="https://www.mercedes-benz.com/en/" target="_blank" >
<img src="{% static 'benz.jpeg' %}" width="500" height="250" align="center">
</a></span><br>

<span  class="img-container">
<a href="https://www.tesla.com/" target="_blank" >
<img src="{% static 'tesla.jpg' %}" width="500" height="250" align="center">
</a></span><br>

<span  class="img-container">
<a href="https://www.bmw.in/en/index.html" target="_blank" align="center">
<img src="{% static 'bmw.jpg' %}" width="500" height="250">
</a></span><br>



<form action="add" method="post" align="center">

{% csrf_token %}
	Enter First number : <input type="text" name="num1"><br><br>
	Enter First number : <input type="text" name="num2"><br><br>
	<input type="submit">


<script>
function mouseOver() {
  document.getElementById("demo").style.color = "red";
}
function mouseOut() {
  document.getElementById("demo").style.color = "black";
}
</script>
<br>
<div>
<a href="new" target="_blank"> Page 2</a>
</div>


<!--
new sample page for testing

<form action="sam">
	<input type="submit"><br>
-->

{% endblock %}