<!DOCTYPE html>
<html lang="en-US">
<html>
<head>
 
<style>
h3 { background-color:yellow;
padding: 15px 10px;
display: inline-block;
 }
</style>


<title>
Web Page
</title>
</head>
 
<body style="background-color:white;">

<!-- This is a comment -->
<a href="#Css">END</a>

<h1>The href Attribute</h1>

<h1 style="font-family:verdana;text-align:center;">This is a new font style</h1>
 
<p>HTML links are defined with the a tag. The link address is specified in the href attribute:</p>

<a href="https://www.w3schools.com/html/html_formatting.asp" target="_blank" >HMTL Formattings</a><br>
<a href="https://www.w3schools.com/html/html_quotation_elements.asp" target="_blank" >HMTL Quotations</a>

<p style="color:red;" title="Good 'Boy' "> This is Sanjith </p>

<hr>

<p title='Testing "TITLE"' style="background-color:lightgreen;padding: 15px 10px;display: inline-block;"> This is sample </p>

<hr>

<pre>

 HELLO World!

 This is Dark Web

</pre>

<p><b>This text is bold</b></p>
<p><i>This text is italic</i></p>
<p>This is<sub> subscript</sub> and <sup>superscript</sup></p>

<h3 id="Css"> This is CSS </h3>


</body>
</html>


