{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
<title>New_Cars</title>
</head>
<body bgcolor="gray">

<div>
<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:lightgreen;padding:5px 625px;display: inline-block;">IONIQ</h1>
<a href=""><input type="button" value="Buy Now!!"></a>
<img src="{% static 'hyundai/ioniq.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:lightgreen;padding:5px 625px;display: inline-block;">KONO</h1>
<a href=""><input type="button" value="Buy Now!!"></a>
<img src="{% static 'hyundai/kono.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:lightgreen;padding:5px 625px;display: inline-block;">NEXO</h1>
<a href=""><input type="button" value="Buy Now!!"></a>
<img src="{% static 'hyundai/nexo.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:lightgreen;padding:5px 625px;display: inline-block;">SANTA</h1>
<a href=""><input type="button" value="Buy Now!!"></a>
<img src="{% static 'hyundai/santa.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:lightgreen;padding:5px 625px;display: inline-block;">VERNA</h1>
<a href=""><input type="button" value="Buy Now!!"></a>
<img src="{% static 'hyundai/verna.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

</div>
</body>
</html>