{% load static %}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
<title>New_Cars</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body bgcolor="gray">

<div>
<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:yellow;padding:5px 625px;display: inline-block;">IONIQ</h1>
<a href=""><input type="button" value="Buy Now!!" class="btn btn-success"></a>
<img src="{% static 'hyundai/ioniq.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:yellow;padding:5px 625px;display: inline-block;">KONO</h1>
<a href=""><input type="button" value="Buy Now!!" class="btn btn-success"></a>
<img src="{% static 'hyundai/kono.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:yellow;padding:5px 625px;display: inline-block;">NEXO</h1>
<a href=""><input type="button" value="Buy Now!!" class="btn btn-success"></a>
<img src="{% static 'hyundai/nexo.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:yellow;padding:5px 625px;display: inline-block;">SANTA</h1>
<a href=""><input type="button" value="Buy Now!!" class="btn btn-success"></a>
<img src="{% static 'hyundai/santa.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

<div class="car">
<h1 align-text="center" title="Scroll Down" style="background-color:yellow;padding:5px 625px;display: inline-block;">VERNA</h1>
<a href=""><input type="button" value="Buy Now!!" class="btn btn-success"></a>
<img src="{% static 'hyundai/verna.jpg' %}" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>

</div>
</body>
</html>
